.App {
  text-align: center;
}

.container {
  display: flex;
  /* background: red; */
  justify-content: space-around;
  max-width: 40rem;
  min-width: 30rem;
}

.decrease,
.increase {
  align-self: center;
}

.number {
  color: rgb(9, 9, 36);
}
